:root {
  /* colors */
  --black: #1A1A1A;
  --white: #E1E1E1;
  --grey: #898989;
  --purple: #B462FF;
  --boot-black: #242529;
  --fuschia: #FF45B4;
  --blue: #18B6FF;
  --green: #1BEB9E;
  --orange: #FF9528;
  --yellow: #DDDD25;
  --red: #FF2828;
  --s-green: #14FF00;
  --blue-sky: #00C8CF;
  --slate: #8892B0;
  --blue-navy: #102544;
  --slate-lightest: #CCD6F6;
  --green-br: #64FFDA;
  --dark-blue: #071322;
  --deep-dark-blu: #000811;

  /* background */
  --bg: #071322;
  --bg-gradient: radial-gradient(100% 236.69% at 100% 100%, rgba(0, 200, 207, 0.4) 0%, rgba(10, 25, 47, 0.4) 45.83%, rgba(0, 0, 0, 0.4) 100%), radial-gradient(101.17% 239.46% at -1.17% 0%, #00C8CF 0%, #0A192F 30.83%, #000000 58.85%);


  /* text styles */
  --font-main: 'IBM Plex Mono', monospace;

  --text: #8892B0;
  --text-colored: #00C8CF;

  --header: #CCD6F6;
  --header-colored: #14FF00;


  /* text sizes */
  --header-large: 80px;
  --header-medium: 50px;
  --header-small: 40px;

  /* --text-xlarge: 32px; */
  --text-xlarge: 22px;
  --text-large: 20px;
  --text-medium: 16px;
  --text-small: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  background: var(--bg);
}

/* ////////// Custom Bootstrap ////////// */
.container-sm {
  padding: 100px 50px;
}

/* .row {
  display: flex;
  justify-content: center;
  flex-direction: row;
} */

/* ////////// Scrollbar ////////// */


/* ////////// Shorthand Styles ////////// */
section {
  margin-bottom: 100px;
}

.section-header {
  font-size: var(--header-small);
  font-weight: 600;
  color: var(--blue-sky);
  padding: 0 0 20px 10px;
}

.header-sm {
  font-size: var(--text-large);
  font-weight: 400;
  color: var(--blue-sky);
  margin: 0 0 10px 0;
}

.section-text {
  font-size: var(--text-medium) !important;
  font-weight: 400;
  color: var(--slate-lightest);
}

.sec {
  color: var(--slate);
}

.section-text-bold {
  font-weight: 700;
}


/* ////////// Navbar Top ////////// */
.custom-nav-top a {
  color: var(--slate);
  font-size: var(--text-small);
}

.custom-nav-top a.active {
  color: var(--blue-sky) !important;
}

.navbar-brand {
  padding: 10px;
}

.navbar-toggler {
  padding: 10px;
  display: flex;
  align-items: center;
}


/* ////////// Welcome Section ////////// */
/* .gradient-container {
  height: 100vh;
  width: 100vw;
  background-image: var(--bg-gradient);
} */

.welcome-container {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: var(--bg-gradient);
}

.welcome {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.welcome-h1 {
  color: var(--blue-sky);
  font-size: var(--text-medium);
  font-weight: 400;
}

.welcome-h2 {
  color: var(--slate-lightest);
  font-size: var(--header-large);
  font-weight: 600;
}

.welcome-h3 {
  color: var(--slate);
  font-size: var(--header-medium);
  font-weight: 500;
}


/* ////////// About Section ////////// */



/* slide container */
.edu-slider {
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  /* overflow: hidden; */
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* slide controls */
.pagination {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin-bottom: 20px;
}

.pagination-item {
  padding: 10px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 50px;
  /* width: 250px; */
  /* background: var(--blue-navy); */
}

.pagination-item h2 {
  font-size: var(--text-small);
  color: var(--slate)
}

/* slide */
.slide {
  width: 70%;
  height: 100%;
  /* margin-top: 80px; */
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all .6s;
  overflow: hidden;
  /* .. */
}

/* slide items */
.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}


/* controls behavior */
input[id="1"]:checked~.slide {
  transform: translate3d(0, 0, 0);
}
input[id="1"]:checked~.pagination .pagination-item[for="1"]{
  background: var(--black);
}

input[id="2"]:checked~.slide {
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"]{
  background: var(--black);
}

input[id="3"]:checked~.slide {
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"]{
  background: var(--black);
}


/* ////////// First Display ////////// */
.first-display {
  /* margin-top: 56px; */
  height: 100vh;
  /* border: 2px solid red; */
  /* color: var(--c-white); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

/* banner */
.banner-section {
  /* border: 1px solid var(--c-blue); */
  margin: 5px;
  padding: 10px;
  /* height: calc(50vh - (56px / 2)); */
  /* display: flex; */
  /* align-items: center; */
}

.banner-h1 {
  font-size: 1.2rem;
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'IBM Plex Mono', monospace; */
  font-weight: 300;
}

.banner-h2 {
  font-size: 4.5rem;
  /* padding-left: 10px; */
  /* font-family: 'Fira Code', monospace; */
  /* font-weight: 600; */
}

.banner-h3 {
  font-size: 2rem;
  /* padding-left: 30px; */
  /* font-family: 'Fira Code', monospace; */
  font-weight: 300;
}

/* about */
.about-section {
  /* border: 1px solid var(--c-blue); */
  height: calc(40vh - (56px / 2));
  margin: 5px;
  padding: 10px;
}

.about-p {
  font-size: 1.1rem;
}

.about-section .col-md-3 {
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-btn {}

/* .about-section::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--c-green)
} */
/* .about-section .my-img{
  height: 200px;
  width: 200px;
  background: var(--c-blue);
  position: relative;
  top: -90px;
  left: -15px;
  border-radius: 50%;
  border: 10px solid var(--c-black);
  float: inline-start;
} */

/* ////////// Info Section ////////// */
.info-section {
  /* border: 1px solid red; */
  height: 100vh;
}

.info-section .container-md .row article {
  font-size: 1rem;
  /* margin-top: 25px; */
}


/* ////////// Second Display ////////// */
.exp-section {
  /* border: 2px solid red; */
  height: 100vh;
}

/* ////////// Thrid Display ////////// */
.edu-section {
  /* border: 2px solid red; */
  height: 100vh;
}

/* ////////// Fourth Display ////////// */
.skills-section {
  /* border: 2px solid red; */
  height: 100vh;
}

/* ////////// Fifth Display ////////// */
.proyects-section {
  /* border: 2px solid red; */
  height: 100vh;
}

/* ////////// Sixth Display ////////// */
.contact-section {
  height: 100vh;
}


/* ////////// Footer ////////// */