:root {
  --c-black: #1a1a1a;
  --c-white: #e1e1e1;
  --c-grey: #898989;
  --c-purple: #b462ff;
  --c-fuschia: #ff45b4;
  --c-fuschia-dark: #bb1e7c;
  --c-fuschia-light: #ff8ad0;
  --c-blue: #18b6ff;
  --c-green: #1beb9e;
  --c-green-dark: #23ad7b;
  --c-green-light: #62ffc6;
  --c-orange: #ff9528;
  --c-yellow: #dddd25;
  --c-red: #ff2828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--c-black);
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'IBM Plex Mono', monospace; */
}

main {
  font-size: 62.5%;
  color: var(--c-white);
}

/* ////////// Globals ////////// */
.c-black {
  color: var(--c-black);
}

.c-white {
  color: var(--c-white);
}

.c-grey {
  color: var(--c-grey);
}

.c-purple {
  color: var(--c-purple)
}

.c-fuschia {
  color: var(--c-fuschia)
}

.c-blue {
  color: var(--c-blue)
}

.c-green {
  color: var(--c-green)
}

.c-orange {
  color: var(--c-orange)
}

.c-yellow {
  color: var(--c-yellow)
}

.c-red {
  color: var(--c-red)
}

.custom-btn {
  padding: 20px;
  font-size: 1.2rem;
  border: 2px solid var(--c-yellow);
  background-color: none;
  color: var(--c-orange);
  text-decoration: none;
  transition: all .2s ease;
}

.custom-btn:hover {
  color: var(--c-black);
  background-color: var(--c-yellow);
}

/* ////////// Navbar ////////// */
.navbar {
  /* width: 100%; */
  /* overflow: hidden; */
}

/* ////////// First Display ////////// */
.first-display {
  margin-top: 56px;
  height: calc(100vh - 56px);
  /* border: 2px solid red; */
  /* color: var(--c-white); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

/* banner */
.banner-section {
  /* border: 1px solid var(--c-blue); */
  margin: 5px;
  padding: 10px;
  /* height: calc(50vh - (56px / 2)); */
  /* display: flex; */
  /* align-items: center; */
}

.banner-h1 {
  font-size: 1.2rem;
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'IBM Plex Mono', monospace; */
  font-weight: 300;
}

.banner-h2 {
  font-size: 4.5rem;
  padding-left: 10px;
  /* font-family: 'Fira Code', monospace; */
  /* font-weight: 600; */
}

.banner-h3 {
  font-size: 2rem;
  padding-left: 30px;
  /* font-family: 'Fira Code', monospace; */
  font-weight: 300;
}

/* about */
.about-section {
  /* border: 1px solid var(--c-blue); */
  height: calc(40vh - (56px / 2));
  margin: 5px;
  padding: 10px;
}

.about-p {
  font-size: 1.1rem;
}

.about-section .col-md-3 {
  display: flex;
  justify-content: end;
  align-items: end;
}

.about-btn {}

/* .about-section::before {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--c-green)
} */
/* .about-section .my-img{
  height: 200px;
  width: 200px;
  background: var(--c-blue);
  position: relative;
  top: -90px;
  left: -15px;
  border-radius: 50%;
  border: 10px solid var(--c-black);
  float: inline-start;
} */


/* ////////// Second Display ////////// */
.exp-section {
  border: 2px solid red;
  height: calc(100vh - 56px);
}

/* ////////// Thrid Display ////////// */
.edu-section {
  border: 2px solid red;
  height: calc(100vh - 56px);
}

/* ////////// Fourth Display ////////// */
.skills-section {
  border: 2px solid red;
  height: calc(100vh - 56px);
}

/* ////////// Fifth Display ////////// */
.proyects-section {
  border: 2px solid red;
  height: calc(100vh - 56px);
}

/* ////////// Footer ////////// */